/* Cambia el color de la "X" a blanco en los modales que tengan esta clase en el botón de close*/
.btn-close-white {
    filter: brightness(0) invert(1); /* Cambia el color a blanco */
    opacity: 1; /* Asegúrate de que el botón sea completamente visible */
}

/* Para la velocidad de transición de la imagen de la tabla en usuarios.php */
.zoom {
    transition: transform 0.5s; /* Efecto suave */
}

/* Para el tamaño de la imagen de la tabla en usuarios.php */
.zoom:hover {
    cursor: pointer;
    transform: scale(4); /* Escala 1.2 al pasar el ratón */
}